SUPABASE_URL=https://kywfdteyaiyeurnfwdjf.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt5d2ZkdGV5YWl5ZXVybmZ3ZGpmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc4MjAwODksImV4cCI6MjEwMzM5NjA4OX0.xnCuvWZOg28x9dtbbkaJ_Y4N9D49oUHdEA5CZ62Fpvs
GEMINI_API_KEY=AQ.Ab8RN6JM_NZUHNGUgLKcdBLK9-4GUsTw7e450rRAPrjy-pCevg
GEMINI_API_KEY_2=AQ.Ab8RN6IG7_Y5doPeToLPDlk3zmC8IGiGz_UjCdYtYcK3V0xegQ
GEMINI_API_KEY_3=AQ.Ab8RN6ILODkswvSZTLBdyDASXa4PKO_z4juZdAFZHqKe0VhB7g
